// Quasar SASS variable overrides
$primary: #1ed760;
$secondary: #1f1f1f;
$accent: #1ed760;
$dark: #121212;
$positive: #1ed760;
$negative: #f3727f;
$info: #539df5;
$warning: #ffa42b;
$dark-page: #121212;
